* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    
}

body {
    font-family: sans-serif;
    background: url("../Images/image5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

a {
    color: #000;
    text-decoration: none;
}

li {
    list-style: none;
}
